# Gemini API
GOOGLE_API_KEY=buraya_google_ai_studio_key_yaz

# LangSmith Tracing (Opsiyonel)
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=buraya_langsmith_key_yaz
LANGCHAIN_PROJECT="esnaf-ai"
